<html >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<style>

</style>
<body>
<div ng-app="myApp" ng-controller="headerCtrl"  >
  <modal title="Exit" visible="showModal">
    <form role="form">
      <h3 align="center">Do you want to leave system?</h3>
      </br>
      </br>
      <button class="btn btn-default" ng-click="logout()">Yes, I'M</button>
      <button style="float: right;" class="btn btn-default" ng-click="toggleModal()">Cancel</button>
    </form>
  </modal>
  <div class="center">
    
      <ul class="nav navbar-nav ">
        <li><a href="#"  ng-click="go('index.html')">Acasă</a>
        </li>
        <li ng-show="!utilizatorulCurrent"><a href="#"  ng-click="go('register.html')">Înregistrare</a>
        <li ng-show="!utilizatorulCurrent"><a href="#"  ng-click="go('login.html')">Logare</a>
      </ul>
      <ul ng-show="utilizatorulCurrent" class="nav navbar-nav ">
        <li><a href="#" class=""> Current User <span style="color:rgb(167, 0, 0)">{{utilizatorulCurrent}}</span> </a></li>
        <li><a href="#"  ng-click="toggleModal()">Exit</a></li>
        

      </ul>

   
  </div>
  <br><br><br><br>
</div>

